{% extends 'main.html.twig' %}

{#
    @var year int
    @var month int
    @var day int
#}
{% block content %}
<ol>
    <li>Day is {{ day }}</li>
    <li>Month is {{ month }}</li>
    <li>Year is {{ year }}</li>
</ol>
{% endblock %}
